@font-face {
    font-family: 'Poppins';
	src:url('../assets/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    }

@font-face {
    font-family: 'Inter';
    src:url('../assets/Inter-VariableFont_slnt,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
    }

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    font-size: 62.5%;
    background-color: #fafafa;
}

body{
    max-width: 100%;
    display:flex;
    flex-direction: column;
}

i{
    color: black;
}

a{
    text-decoration: none;
}

body{
    display:flex;
    flex-direction: column;
    .hero{
        background-image: url("./assets/1.png");
        height: 88rem;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        header{
            padding-top:2rem;
            margin-left:10%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: space-around;
            max-height: 10rem;
            max-width: 80%;
            color: white;
            flex: 0 0 20%;
            &>div:first-child{
                flex: 0 0 80%;
                padding-left:7rem;
            }
            p{
                width:10%;
                font-family:Inter;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 4rem;
            }
        }
        .hero-toptext{
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 1.60px;
            word-wrap: break-word;
        }
        .hero-text-container{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 24rem;
            .hero-text{
                color: white;
                font-size: 80px;
                font-family: Poppins;
                font-weight: 700;
                line-height: 76px;
                word-wrap: break-word;
                text-align: center;
                flex: 0 1 80%;
                width:50%;
            }
        }
        .slider-container{
            display:flex;
            padding-top:29rem;
            align-items: center;
            justify-content: center;

            img{
                padding-left:1rem;
            }
        }
    }
    .section-2{
        min-height: 80.8rem;
        display: flex;
        padding-top:20rem;
        align-items: center;
        .left{
            flex-basis: 50%;
            padding-left:20rem;
            &>p{
                margin:0;
            }
            &>p:first-child{
                color: #DF6951;
                font-size: 16px;
                font-family: Inter;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 1.60px;
                word-wrap: break-word;
                width: 11.5rem;
                padding-bottom:0.8rem;
            }
            &>p:nth-child(2){
                color: #222222;
                font-size: 64px;
                font-family: Poppins;
                font-weight: 700;
                line-height: 68px;
                word-wrap: break-word;
                width: 87rem;
                padding-bottom:2.8rem;
            }
            &>p:nth-child(3){
                color: #222222;
                font-size: 20px;
                font-family: Inter;
                font-weight: 400;
                line-height: 24px;
                word-wrap: break-word;
                padding-bottom:6rem;
                width:61rem;
            }
            .btn {
                color: white;
                font-size: 16px;
                font-family: Inter;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 1.60px;
                word-wrap: break-word;

                -webkit-border-radius: 8;
                -moz-border-radius: 8;
                border-radius: 8px;
                color: #ffffff;
                background: #df6951;
                padding: 20px 24px 20px 24px;
                text-decoration: none;
              }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 50%;
            /* align-items: center;
            justify-content: center; */
            .bg-image{
                position:relative;
            }
            .fg-image{
                position:absolute;
                z-index:1;
                opacity: 100;
            }
        }
    }
    .section-3{
        height: 87.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &>p:first-child{
            //font-family: Poppins Bold;
            display: inherit;
            color: #222222;
            font-size: 64px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 68px;
            word-wrap: break-word;
            align-self: center;
            padding-bottom:6.4rem
        }
        .offers-container{
            display: flex;
            flex-direction: row;
            gap: 4rem;
            justify-content: center;
            flex-wrap: wrap;
            .offer{
                display:flex;
                flex-direction: column;
                max-height: 56rem;
                height: 56rem;
                width: 48rem;
                background-color: #ffffff;                box-shadow: 0px 4px 40px rgba(126.44, 126.44, 126.44, 0.15);
                padding:3.2rem;
                border-radius:8px;
                &>.img{
                    width: 41.6rem;
                    height:34rem;
                    padding-bottom: 1.2rem;
                }
                .offer-text{
                    padding-top: 1.2rem;
                    justify-content: center;
                    .title{
                        // Switzerland
                        color: #222222;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 700;
                        line-height: 40px;
                        word-wrap: break-word;
                        align-self: left;
                    }
                    .description{
                        color: #222222;
                        font-size: 20px;
                        font-family: Inter;
                        font-weight: 400;
                        line-height: 24px;
                        word-wrap: break-word;
                        padding-bottom:0.8rem;
                    }
                }
                .data{
                    color: #222222;
                    font-size: 16px;
                    font-family: Inter;
                    font-weight: 500;
                    text-transform: capitalize;
                    line-height: 20px;
                    word-wrap: break-word;
                    padding-top:0.8rem;
                }
            }
        }
        .slider-container{
            display:flex;
            padding-top:6.4rem;
            align-items: center;
            justify-content: center;
            img{
                padding-left:1rem;
            }
        }
    }
    .section-4{
        min-height: 174rem;
        height: 174rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &>p:first-child{
            //font-family: Poppins Bold;
            //display: inherit;
            color: #222222;
            font-size: 64px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 68px;
            word-wrap: break-word;
            align-self: center;
            padding-bottom:6.4rem
        }
        .offers-container{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap: 4rem;
            justify-content: center;
            .offer{
                display:flex;
                flex-direction: column;
                max-height: 62rem;
                height: 62rem;
                width: 48rem;
                background-color: #ffffff;                box-shadow: 0px 4px 40px rgba(126.44, 126.44, 126.44, 0.15);
                padding:3.2rem;
                border-radius:8px;
                &>.img{
                    width: 41.6rem;
                    height:34rem;
                    padding-bottom: 1.2rem;
                }
                .offer-text{
                    padding-top: 1.2rem;
                    justify-content: center;
                    .data{
                        color: #222222;
                        font-size: 16px;
                        font-family: Inter;
                        font-weight: 500;
                        text-transform: capitalize;
                        line-height: 20px;
                        word-wrap: break-word;
                        padding-top:1.2rem;
                        padding-bottom:0.8rem;
                    }
                    .title{
                        // Switzerland
                        color: #222222;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 700;
                        line-height: 40px;
                        word-wrap: break-word;
                        align-self: left;
                    }
                    .description{
                        color: #222222;
                        font-size: 20px;
                        font-family: Inter;
                        font-weight: 400;
                        line-height: 24px;
                        word-wrap: break-word;
                        padding-bottom:0.8rem;
                    }
                }
            }
        }
    }
}