@font-face {
    font-family: 'Poppins';
	src:url('../assets/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    }

@font-face {
    font-family: 'Inter';
    src:url('../assets/Inter-VariableFont_slnt,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
    }

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 100%;
}

i{
    color: black;
}

a{
    text-decoration: none;
}

body{
    .hero{
        background-image: url("./assets/1.png");
        height: 88rem;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        header{
            padding-top:2rem;
            margin-left:10%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: space-around;
            max-height: 10rem;
            max-width: 80%;
            color: white;
            flex: 0 0 20%;
            &>div:first-child{
                flex: 0 0 80%;
                padding-left:7rem;
            }
            p{
                width:10%;
                font-family:Inter;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 4rem;
            }
        }
        .hero-toptext{
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 1.60px;
            word-wrap: break-word;
        }
        .hero-text-container{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 24rem;
            .hero-text{
                color: white;
                font-size: 80px;
                font-family: Poppins;
                font-weight: 700;
                line-height: 76px;
                word-wrap: break-word;
                text-align: center;
                flex: 0 1 80%;
                width:50%;
            }
        }
        .slider-container{
            display:flex;
            padding-top:29rem;
            align-items: center;
            justify-content: center;

            img{
                padding-left:1rem;
            }
        }
    }
}